@import "./method"

.text-center
  text-align: center;

section.parts
  width: 990px;
  margin: 0 auto;
  .part-content
    clearfix()
    .panel
      panel-spacing(10, 10)
      position: relative;

section.part-last
section.part-one
  .panel
    width: 190px
    background-color: #EF1F65
    panel-spacing(10, 10)
    .img-goods
      height: 190px
    .goods-info
      position: relative
      img.img-logo
        width: 108px
        height: 55px
        absolute: left 0 right 0
        top: -(55/2)px
        margin: auto
        border-radius: 5px
      p
        no-wrap()
        width: 100%
        &.store
          color: #fff
          absolute: bottom 30px
        &.discount
          color: #FAD232
          font-size: 18px
          absolute: bottom 0
    &.panel-0
    &.panel-5
      margin-left: 0
