@import "./method"

// mixin panel
.panel-title
  position relative
  text-align: center;
  margin: 20px auto;
  width: 350px;
  height: 50px;
  i.icon-surge
    display: block;
    background-image: url(./images/sprite.png);
    top: 0;
    width: 62px;
    height: 50px;
    position: absolute;
    &.left
      background-position: -563px -635px;
      left: 0;
    &.right
      background-position: -501px -635px;
      right: 0;
  .title
    font-size: 0;
    padding: 2px 0;
    color: #FFF;
    font-weight: 500;
    h4
      display: inline-block;
      font-size: 34px;
      margin 0 10px
    span.side
      font-size: 42px;

// mixin panel-template-2 public style
.section
  margin-bottom: 10px
  .part-content
    .panel-big
      width: 390px
      height: 290px
      padding-top: 35px
      padding-left: 30px
      p.title
        font-size: 26px
        color: #FFF
      i.short-line
        display: block;
        background-color: #FFF
        width: 30px
        height: 5px
        margin-bottom: 10px
      p.discount
        no-wrap()
        font-size: 16px
        color: #FAD232
      a.btn-go
        background-image: url(./images/sprite.png);
        background-position: -556px -685px;
        width: 80px;
        height: 36px;
      img.goods
        absolute: top 0 left 0
        z-index: -1
    .panel-normal
      width: 190px
      height: 290px
      background-color: #FFF
      a
        position: relative;
        width: 190px
        height: 190px
        span.discount
          no-wrap()
          width: 130px
          height: 20px
          line-height: 20px
          padding-left: 10px
          absolute: bottom 10px right 0;
          border-top-left-radius: 10px
          border-bottom-left-radius: 10px
          background-color: #FD3A42
          font-size: 12px
          color: #FFF
      .goods-info
        padding: 10px 0
        height: 100px
        p.title
          text-align: center;
        a.to-store
          width: 160px
          height: 20px
          line-height: 20px
          border-radius: 10px
          absolute: left 0 right 0
          bottom 15px
          margin: auto;
          color: #FFF
          i.icon-arrow-right
            absolute: bottom 0 top 0
            right: 40px
            border-radius: 5px
            margin: auto;
            background-image: url(./images/sprite.png);
            background-position: -610px -220px;
            width: 6px;
            height: 10px;
    .panel-0
    .panel-4
      margin-left: 0 !important

// the component of side navigation
.nav
  width: 110px
  height: 630px
  border-top-left-radius: 55px
  border-top-right-radius: 55px
  background-color: #9E00F3
  color: #FFF
  absolute: top 60px right -120px
  .header
    position: relative;
    height: 70px
    i.hole
      display: block;
      margin: 5px auto
      width: 15px
      height: 15px
      background-color: #651EBE
      border-radius: 8px
    i.balloon
      absolute: top -104px left 14px
      background: url('./images/sprite.png')
      background-position: -501px -474px;
      width: 135px;
      height: 161px;
    p.title
      margin-top: 30px
      font-size: 20px
  .content
    a
      color: #FFF
      font-size: 12px
      font-family: SimSun !important
    ul
      li
        text-align: center
        height: 30px
        line-height: 30px
        a
          transition: background-color 0.7s, color 0.7s
          &:hover
            background-color: #FFFF01
            color: #171C18
    .re-top
      margin-top: 25px
      text-align: center;
      i.icon-arrow-up
        display: block;
        background-image: url('./images/sprite.png');
        background-position: -610px -220px;
        width: 10px;
        height: 6px;
        margin: 5px auto
      span
        font-size: 12px
  .footer
    padding: 10px
    height: 136px
    background-color: #5D008F
    margin-top: 15px
    .QRcode
      width: 90px
      height: 90px
    p
      margin: 10px auto;
      text-align: center;
      font-family: SimSun
