footer.text-center
  p.company-info
    span 总部:中国•杭州拱墅区祥园路45号北部软件园盘石互联网广告大厦
    span 传真:+86-571-81951158
    span 邮编:310015
  p.police
    img(src="./images/beian.png", alt="police")
    a(href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502001177" target="_blank") 浙公网安备 33010502001177号
    a(href="http://icp.alexa.cn/index.php?q=www.miaopin8.com" target="_blank") 浙B2-20090026-17
  p.copyright Copyright©2004-2016&nbsp;
    a(href="http://www.adyun.com" target="_blank") 浙江盘石信息技术股份有限公司
    | All Rights Reserved
  p.websiter
    a(href="http://www.cnzz.com/stat/website.php?web_id=1258444141" title="站长统计" target="_blank")
      img(src="http://icon.cnzz.com/img/pic.gif")
    a(href="https://credit.szfw.org/CX20160317000830000322.html" target="_blank")
      img(src="http://icon.szfw.org/cert.png")
    
