aside
  .nav#nav
    .header
      i.hole
      i.balloon
    .content
      ul
        li.hvr-rectangle-out
          a(href="#part-top") 必抢好物
        li.hvr-rectangle-out
          a(href="#part-1") 超值尖货
        li.hvr-rectangle-out
          a(href="#part-2") 超级大牌
        li.hvr-rectangle-out
          a(href="#section-0") 潮流女装
        li.hvr-rectangle-out
          a(href="#section-1") 精品男装
        li.hvr-rectangle-out
          a(href="#section-2") 品质母婴
        li.hvr-rectangle-out
          a(href="#section-3") 鞋靴箱包
        li.hvr-rectangle-out
          a(href="#section-4") 美妆个护
        li.hvr-rectangle-out
          a(href="#section-5") 健康食品
        li.hvr-rectangle-out
          a(href="#section-6") 品质生活
        li.hvr-rectangle-out
          a(href="#section-7") 潮酷数码
        li.hvr-rectangle-out
          a(href="#part-last") 特殊会场
      .re-top
        a(href="#top")
          i.icon-arrow-up
          span 返回顶部
    .footer
      .QRcode
        img(src="https://fakeimg.pl/90x90/000/fff/?text=QRcode&font=lobster")
      p 手机逛妙品吧
