aside
  #navigation
    i.icon-arrow.down
    ul
      li
        a.active(href="#part-top") 必抢好物
        a(href="#part-1") 超值尖货
        a(href="#part-2") 超级大牌
        a(href="#section-0") 潮流女装
      li
        a(href="#section-1") 精品男装
        a(href="#section-2") 品质母婴
        a(href="#section-3") 鞋靴箱包
        a(href="#section-4") 美妆个护
      li
        a(href="#section-5") 健康食品
        a(href="#section-6") 品质生活
        a(href="#section-7") 潮酷数码
        a(href="#part-last") 特殊会场
